<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ALL Tests suite">
    <listeners>
        <listener class-name="testutils.retry.AnnotationTransformer"/>
        <listener class-name="testutils.ExtentReporter"/>
    </listeners>
    <test name="API Tests" parallel="classes">
        <groups>
            <run>
                <exclude name="brokenTests"/>
                <include name="api"/>
            </run>
        </groups>
        <packages>
            <package name="apitests.*"/>
        </packages>
    </test>
    <test name="GUI Tests" parallel="classes">
        <groups>
            <run>
                <include name="gui"/>
            </run>
        </groups>
        <packages>
            <package name="guitests.*"/>
        </packages>
    </test>
</suite>