<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Grouped Tests">
        <groups>
            <run>
                <include name="api"/>
            </run>
        </groups>

        <classes>
            <class name="apitests.BaseApiTest">
            </class>
            <class name="apitests.flashposts.LoggedInFlashpostsTests">
            </class>
            <class name="apitests.articles.LoggedInArticlesTests">
            </class>
            <class name="apitests.registration.ApiRegistrationTests">
            </class>
            <class name="guitests.ArticlesTests">
            </class>
        </classes>
    </test>
</suite>